body{
    color: #8D8D8D;
    margin: 0;
}
a
{
    text-decoration: none;
font-family: Arial, Helvetica, sans-serif;}

.recrutement{
    text-align: center;
    color: white;
    margin: 0 300px 200px 300px; 
}
h1{
    font-size: 25px;
    margin-top:  50px;
    margin-bottom: 0;
}
label{
    margin: 0 0 5px 0;
}
h2, h4, h3{
    color: #F0B710;
}
h2{
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: -65px;
}
h4,h6{
    font-size: 20px;
}
h3{
   display: inline;
   font-weight: normal;
   font-size: 22px;
}
hr{
    color: #8D8D8D;  
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0),rgba(141, 141, 141, 0.2), rgba(141, 141, 141, 0.7));
    border: 0;
    height: 1px;
    margin-left: -65px;
}
.title-hr{
margin-top: 10px;
width: 100%;
border: 0;
height: 1px;
background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(141, 141, 141, 0.8),rgba(255,255,255),rgba(141, 141, 141, 0.8), rgba(255, 255, 255, 0));
background-size: cover;
background-blend-mode: luminosity;
}
.img{
background-image: url(img/fond1intro.jpg);
background-repeat: no-repeat;
min-height: 300px;
background-size: 100%;
}
.espace{ 
   padding-top: 10px;
}
.link{
padding: 3px 0 8px 0;
background-color: white;
}
main{
    display: flex;
}
.container,.link-txt{
    margin: 10px 200px 0 200px;
}
.left-main{
    justify-content: left;
    margin-right: 50px;
}
.right-main{
    justify-content: right;
    width: 3000px;
}
.emploi{
    color:#96BDE8 ;
}

/*FORM*/
.div-form{
    margin-bottom: 10px;
}
.icone-input{
    position: absolute;top: 9px;left: 385px;
}
.txt-input{
    margin-top: 2px;
    width: 412px;
    height: 25px;
    border-width: thin;
}
.select-input{
    margin-top: 2px;
    width: 420px;
    height: 30px;

}
.relatif{
    position: relative;
}
label{
    display: block;
}
.taille-fichier, .cocher{
    color: #F0B710;
    font-weight: bold;
}
.cocher{
 
}
.double-arrow{
    color: #D1D9E5;
}
.envoyer{
    background-color:#F0B710 ;
    border: none;
    color: white;
    padding: 10px 16px;
    margin: 0 0 20px 0;
    cursor: pointer;
}
.button-right{
    font-weight: bold;
    background-color:#E1E1E1;
    border: none;
    color: grey;
    padding: 10px 12px;
    cursor: pointer;
}
.button-linkedin, .button-facebook{
    border: none;
    padding: 8px;
    color: white;
    font-size: 10px;
    cursor: pointer;
}
.button-linkedin{
background-color: #0976B4;
}
.button-facebook{
background-color: #3B5998;
}
button, input{
border-radius: 5%;
}

.captcha{
    margin: 20px 0 20px 0;
}
.big-icone{
    margin-left: -64px;
   margin-right: 20px;
    display: inline;
}
.fix-icone{
    margin-left: -58px;
   margin-right: 20px;
    display: inline; 
}
.fix-checkbox{
    margin-left: -19px;
   
}