/* gris ##8D8D8D  */
/* jaune #F0B710 */

body{
    color: #8D8D8D;
    margin: 0;
}
.recrutement{
    text-align: center;
    color: white;
    margin: 0 300px 200px 300px; 
}
h1{
    font-size: 25px;
    margin-top:  50px;
    margin-bottom: 0;
}
label{
    margin: 0 0 5px 0;
}
h2, h4, h3{
    color: #F0B710;
}
h4,h6{
    font-size: 20px;
}
h3{
   display: inline;
   font-weight: normal;
}
hr{
    color: #8D8D8D; 
}
.title-hr{
margin-top: 10px;
width: 100%;
border: 0;
height: 1px;
background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(141, 141, 141, 0.8),rgba(255,255,255),rgba(141, 141, 141, 0.8), rgba(255, 255, 255, 0));
background-size: cover;
background-blend-mode: luminosity;
}
.img{
background-image: url(img/fond1intro.jpg);
background-repeat: no-repeat;
min-height: 300px;
background-size: 100%;
}
.test{
    position: absolute;
    left: 0;top:0;
    background-color: rgb(0, 0, 0,0.2);
    min-width: 100%;
    height: 300px;
}
.espace{ 
   padding-top: 15px;
}
.link{
padding: 5px 0 10px 0;
background-color: white;
}
main{
    display: flex;
}
.container,.link-txt{
    margin: 10px 200px 0 200px;
}
.left-main{
    justify-content: left;
    margin-right: 50px;
}
.right-main{
    justify-content: right;
    width: 3000px;
}
.emploi{
    color:#96BDE8 ;
}

/*FORM*/
.div-form{
    margin-bottom: 10px;
}
.icone-input{
    position: absolute;top: 8px;left: 385px;
}
.txt-input{
    margin-top: 2px;
    width: 412px;
    height: 25px;
    border-width: thin;
}
.select-input{
    margin-top: 2px;
    width: 420px;
    height: 30px;

}
.relatif{
    position: relative;
}
label{
    display: block;
}
.taille-fichier, .cocher{
    color: #F0B710;
    font-weight: bold;
}
.cocher{
    display: flex;
}
.envoyer{
    background-color:#F0B710 ;
    border: none;
    color: white;
    padding: 8px;
}
.button-right{
    font-weight: bold;
    background-color:#E1E1E1;
    border: none;
    color: black;
    padding: 8px;
}
.button-linkedin, .button-facebook{
    border: none;
    padding: 8px;
    color: white;
    font-size: 10px;
}
.button-linkedin{
background-color: #0976B4;
}
.button-facebook{
background-color: #3B5998;
}
button, input{
    border-radius: 5%;
}

